NumberTranslator.framework
*/xcuserdata
*/UserInterfaceState.xcuserstate
TranslateNumbers.xcodeproj/project.xcworkspace/xcuserdata/joachim.xcuserdatad/UserInterfaceState.xcuserstate
dist.old
dist/gmp/*
dist/mpfr/*
dist/build.log
dist/signed
dist/gmp.xcframework
dist/mpfr.xcframework
~$*
